// Colors
$yellow-main: #ffd100;
$black-main: #000000;
$white-main: #ffffff;
$red: #ff0000;

.ind-container {
  max-width: 1140px;
  margin: 0 auto;
}

.ind-container-fluid {
  width: 100%;
}

body {
  text-transform: uppercase;
  background-color: $yellow-main;
}
