.mini-form__num-inp {
  text-align: center;
}

.mini-form__num-inp__inp-wrapper {
  margin-bottom: 30px;
  input {
    width: 90%;
    margin: 0;
    padding: 30px 15px;
    color: $white-main;
    text-align: center;
    appearance: none;
    background: $black-main;
    border: none;
    font-weight: bold;
    font-size: 2.25rem;
  }
}

.mini-form__num-inp__feedback {
  display: none;
  color: $red;
}

.input-error {
  .mini-form__num-inp__feedback {
    text-align: left;
    display: block;
  }
}
