.mini-form__num-inp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.mini-form__num-inp__inp-wrapper {
  input {
    width: 90%;
    margin: 0;
    padding: 14px 15px;
    color: $white-main;
    text-align: center;
    appearance: none;
    background: $black-main;
    border: none;
    font-weight: bold;
    font-size: 2.25rem;
    &::placeholder {
      color: $white-main;
      font-family: "formula-condensed", sans-serif;
      letter-spacing: 1.5px;
    }
  }
}

.mini-form__num-inp__label {
  color: $white-main;
  font-family: "formula-condensed", sans-serif;
  font-size: pxToRem(32px);
  margin-top: pxToRem(32px);
}

.mini-form__num-inp__feedback {
  display: none;
  padding: pxToRem(4px) pxToRem(9px);
  color: $red;
  font-family: "formula-condensed", sans-serif;
  font-size: pxToRem(14px);
  text-align: left;
  letter-spacing: 1.5px;
}

.input-error {
  .mini-form__num-inp__feedback {
    display: block;
  }
}

.mini-form__cta {
  margin-top: 8px;
}
