<div class="swiper-container">
  <div class="swiper-wrapper">
    {% for slide in content.field_slide['#items'] %}
      {{ drupal_entity('paragraph', slide.target_id) }}
    {% endfor %}
  </div>

  <div class="swiper-pagination"></div>
</div>
