// Override bootstrap framework variables.
// Full list of variables in [path to themes/contrib]/bootstrap4/dist/bootstrap/4.4.1/scss/_variables.scss
// or [path to themes/contrib]/bootstrap4/scss/_theme_variables.scss.

body {
  @extend .txt-default;
  color: $black-main;
  text-transform: uppercase;
  background-color: $yellow-main;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $black-main;
  &:hover {
    color: $white-main;
  }
}

img {
  width: 100%;
  height: auto;
}

// Navbar Branding
.navbar-brand {
  img {
    max-width: 200px;
    height: auto;
  }
}

// mmenu
.mm-page {
  background-color: transparent;
}

// Region Content
.region-content {
  padding: 0;
}

// Swiper
.swiper-pagination {
  .swiper-pagination-bullet {
    opacity: 1;
    width: 15px;
    height: 15px;

    &-active {
      background: $white-main;
    }
  }
}
